/* Navbar-js */
.login-button{ display:flex; justify-content: end; gap: 20px; margin:30px; cursor: pointer; }
.nav-section { display:flex; justify-content: center; }

.menu-container{ display:flex; justify-content: space-between; align-items: center; width: 100%; height: 10vh; }
.menu-list { display:flex; list-style: none; flex:1; justify-content: center; }
.menu-list li { padding: 30px; text-align: center;}

.search-container{ display:flex; justify-content: center; position: relative; padding-right:20px; }
.search-box-icon{ position: absolute; left: 3%; top:5% ; }
.input-box {border: none; border-bottom: 1px solid black; padding-left:30px; padding-bottom: 5px; font-size:0.9rem; }
.input-box:focus { outline: none; border-bottom: 1px solid black;}

/* ProductAll.js */
.card-img:hover { transform: scale(0.9); }
.card-img-hover { transition: transform 0.3s ease;}

/* Login.js */
.login-container{ display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 30px;  }

/* ProductDetail.js */
.detail-img {display:flex; justify-content: flex-end;}

